%% -*- erlang-indent-level: 2 -*-

{cover_enabled, true}.

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
%%{lets, ".*", {git, "git://github.com/norton/lets.git", {branch, "master"}}},
  {ebloom, ".*", {git, "git://github.com/basho/ebloom", {branch, "master"}}},
  {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
  {webmachine, ".*", {git, "git://github.com/basho/webmachine", {branch, "master"}}}
]}.
